@charset "utf-8";body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}

*{
	padding:0px;
	margin:0px;
	font-size:12px;
	font-weight:normal;
	color:#333;
	/*font-family:Microsoft YaHei;*/
}

img{
	border:0px;
}

.none{
	display:none;
}

.f333{
	color:#333;
}
.f666{
	color:#666;
}
.f999{
	color:#999;
}
.f039{
	color:#039;
}
.ff00{
	color:#f00;
}
.ff60{
	color:#f60;
}
.fbold{
	font-weight:bold;
}

.f12{
	font-size:12px;
}
.f14{
	font-size:14px;
}
.fred{
	color:#f00;
}

.wid_185{
	width:185px;
}


.clear{
	clear:both;
	overflow:hidden;
	height:0px;
}

.h10{
	clear:both;
	height:10px;
	overflow:hidden;
}
.h5{
	clear:both;
	height:5px;
	overflow:hidden;
}
.h3{
	clear:both;
	height:3px;
	overflow:hidden;
}
.h12{
	clear:both;
	height:12px;
	overflow:hidden;
}

.min_height{
	min-height:250px;
}

.float_left{
	float:left;
}
.float_right{
	float:right;
}

.align_right{
	text-align:right;
}

.foot_top_temp{
	clear:both;
	height:21px;
	overflow:hidden;
}
.foot_btm_temp{
	clear:both;
	height:24px;
	overflow:hidden;
}

/*#full{
	width:40px;
	height:21px;
	position:absolute;
	right:10px;
	bottom:20px;
	z-index:100;
	background:url(../images/to_top.jpg) no-repeat;
}
*/

#main_box{
	width:950px;
	margin:0px auto;
	overflow:hidden;
}

#leftbox{
	width:213px;
	float:left;
}
#rightbox{
	float:right;
	width:697px;
	overflow:hidden;
	border:1px solid #bbb;
	background:url(../images/my360_rightbg.jpg) repeat-x top;
	padding:0px 15px;
	display:inline;
	z-index:1;
}

#centerbox{
	float:left;
	width:697px;
	overflow:hidden;
	border:1px solid #bbb;
	background:url(../images/my360_rightbg.jpg) repeat-x top;
	padding:0px 15px;
	display:inline;
	z-index:1;
}

/*start fenye*/
#pagerBottom02,#pagerBottom03{
	width:950px;
	margin:0px auto;
	clear:both;
	overflow:hidden;
	text-align:right;
	padding:20px 0px;
	color:#666;
}
#pagerBottom03{
	padding:20px 0px 0px 0px;
}
#pagerBottom{
	clear:both;
	padding:10px 0px;
	color:#666;
}
#pagerBottom a,#pagerBottom02 a,#pagerBottom03 a{
	text-decoration:none;
	font-size:12px;
}
#pagerBottom .next_on,#pagerBottom .next_off,#pagerBottom .prev_on,#pagerBottom .prev_off,#pagerBottom02 .next_on,#pagerBottom02 .next_off,#pagerBottom02 .prev_on,#pagerBottom02 .prev_off,#pagerBottom03 .next_on,#pagerBottom03 .next_off,#pagerBottom03 .prev_on,#pagerBottom03 .prev_off{
	height:19px;
	display:block;
	float:right;	
	line-height:19px;
	margin:2px 0px 0px 5px;
	border:0px;
}
#pagerBottom .next_on,#pagerBottom .next_off,#pagerBottom02 .next_on,#pagerBottom02 .next_off,#pagerBottom03 .next_on,#pagerBottom03 .next_off{
	padding-right:18px;
	text-align:right;
	width:42px;
}
#pagerBottom .prev_on,#pagerBottom .prev_off,#pagerBottom02 .prev_on,#pagerBottom02 .prev_off,#pagerBottom03 .prev_on,#pagerBottom03 .prev_off{
	padding-left:16px;
	text-align:left;
	width:44px;
}
#pagerBottom .next_on,#pagerBottom02 .next_on,#pagerBottom03 .next_on{
	color:#ff8406;
	background:url(../images/next_on.jpg) no-repeat;
}
#pagerBottom .next_off,#pagerBottom02 .next_off,#pagerBottom03 .next_off{
	background:url(../images/next_off.jpg) no-repeat;
}
#pagerBottom .prev_on,#pagerBottom02 .prev_on,#pagerBottom03 .prev_on{
	color:#ff8406;
	background:url(../images/prev_on.jpg) no-repeat;
}
#pagerBottom .prev_off,#pagerBottom02 .prev_off,#pagerBottom03 .prev_off{
	background:url(../images/prev_off.jpg) no-repeat;
}
#pagerBottom .btn_check a,#pagerBottom02 .btn_check a,#pagerBottom03 .btn_check a{
	display:block;
	float:right;
	text-align:center;
	width:44px;
	height:19px;
	padding:0px;
	margin:2px 0px 0px 10px;
	color:#666;
	line-height:19px;
	background:url(../images/my360_bg.gif) repeat-x -304px -292px;
}
#pagerBottom .btn_check a:hover,#pagerBottom02 .btn_check a:hover,#pagerBottom03 .btn_check a:hover{
	color:#333;
}
#pagerBottom .list_bar,#pagerBottom02 .list_bar,#pagerBottom03 .list_bar{
	float:right;
	margin-left:10px;
	line-height:23px;
}
#pagerBottom .num_on,#pagerBottom .num_off,#pagerBottom02 .num_on,#pagerBottom02 .num_off,#pagerBottom03 .num_on,#pagerBottom03 .num_off{
	width:23px;
	height:19px;
	text-align:center;
	display:block;
	float:left;
	margin-left:5px;
	margin-top:2px;
	line-height:19px;
	font-family:Arial, Helvetica, sans-serif;
}
#pagerBottom .num_bar,#pagerBottom02 .num_bar,#pagerBottom03 .num_bar{
	float:right;
}
#pagerBottom .num_on,#pagerBottom02 .num_on,#pagerBottom03 .num_on{
	color:#ff8406;
	background:url(../images/next_aon.jpg) no-repeat;
}

#pagerBottom .num_off,#pagerBottom02 .num_off,#pagerBottom03 .num_off{
	background:url(../images/next_aoff.jpg) no-repeat;
}

#pagerBottom .w30,#pagerBottom02 .w30,#pagerBottom03 .w30{
	width:30px;
	border:1px solid #CCC;
	padding:2px;
}

#pagerBottom .off_style,#pagerBottom02 .off_style,#pagerBottom03 .off_style{
	color:#999;
	border:1px solid #CCC;
}


/*end fenye*/
	
	
/*select service start*/
.order_buy{
	font-size:14px;
	overflow:hidden;
	width:950px;
	margin:0px auto;
}
.order_buy li{
	line-height:30px;
	float:left;
	padding-right:10px;
	list-style:none;
}
.order_buy li span.off{
	background:url(../images/order_bg.png) no-repeat 5px 0px;
	padding:2px 10px;
	color:#FFF;
	font-weight:bold;
}
.order_buy li span.on{
	background:url(../images/order_bg.png) no-repeat 5px -20px;
	padding:2px 10px;
	color:#FFF;
	font-weight:bold;
}
.order_buy li.on{
	color:#56AC0B;
	font-weight:bold;
	border-bottom:solid 2px #56AC0B;
}

.buyinfo{
	background:#FFFEEF;
	border:solid 1px #F60;
	overflow:hidden;
	padding:5px 0;
	padding-left:10px;
	height:80px;
}

.order_lc{padding-left:290px; width:660px; margin:0px auto}
.order_lc ul{
	width:100%;
	overflow:hidden;
	height:30px;
	padding-bottom:10px; 
	padding-top:10px;
	margin-top:5px;
	background:url(../images/order_kf2_bg.png) no-repeat left top;
}

.order_lc ul li{
	list-style:none;
}
.order_lc ul li.lc_1{float:left;background:url(../images/order_kf1_bg.png) no-repeat;width:116px;height:22px;display:block;padding-left:8px;line-height:22px; color:#e26900;}
.order_lc ul li.lc_2{float:left;width:120px;height:22px;display:block; padding-left:5px;line-height:22px;color:#CCC;}

.order_lc ul li.lc_3{float:left;width:80px;height:22px;display:block;padding-left:5px;line-height:22px; color:#ccc;}
.order_lc ul li.lc_4{float:left;width:108px;height:22px;display:block;background:url(../images/order_kf1_bg2.png) no-repeat right;line-height:22px;color:#e26900; text-align:right; padding-right:12px;}

/*new buy step start*/

.order_buy .buy_step01,.order_buy .buy_step02,.order_buy .buy_step03,.order_buy .buy_step04{
	width:521px;
	height:26px;
	line-height:26px;
	overflow:hidden;
}
.order_buy .buy_step01{
	background:url(../images/step_buy01.jpg) no-repeat;
}
.order_buy .buy_step02{
	background:url(../images/step_buy02.jpg) no-repeat;
}
.order_buy .buy_step03{
	background:url(../images/step_buy03.jpg) no-repeat;
}
.order_buy .buy_step04{
	background:url(../images/step_buy04.jpg) no-repeat;
}
.order_buy .buystep_bar01{
	width:107px;
	float:left;
	text-align:center;
}
.order_buy .buystep_bar02{
	width:138px;
	float:left;
	text-align:center;
}
.order_buy .buystep_bar03{
	width:157px;
	float:left;
	text-align:center;
}
.order_buy .buystep_bar04{
	width:110px;
	float:left;
	text-align:center;
}

.order_buy .text_on{
	color:#fff;
	font-weight:bold;
}

.order_buy .text_pass{
	color:#f70;
}


/*new buy step end*/

/*select service end*/

.statement{
	color:#666;
	width:915px;
	margin:0px auto;
	height:30px;
	border:1px solid #ffe591;
	padding-left:35px;
	line-height:30px;
	overflow:hidden;
	letter-spacing:1px;
	background:url(../images/yx360_ico09.jpg) no-repeat left #fffaea;
}
.statement strong,.statement2 strong{
	font-weight:bold;
	color:#666;
}
.statement2 a{
	color:#039;
	text-decoration:none;
}

.statement2{
	clear:both;
	height:30px;
	border:1px solid #ffe591;
	padding-left:35px;
	line-height:30px;
	overflow:hidden;
	letter-spacing:1px;
	color:#666;
	background:url(../images/yx360_ico09.jpg) no-repeat left #fffaea;
}
.statement2_style01{
	margin:0px 100px;
}

.btn_center,.btn_center02,.btn_center03{
	clear:both;
	text-align:center;
	padding:10px 0;
}
.btn_center02{
	text-align:left;
	padding-left:188px;
}
.btn_center03{
	text-align:left;
	padding-left:150px;
}
.btn_center a{
	color:#039;
	text-decoration:underline;
}

.set_btn{background:url(../images/yx360_btn.gif) no-repeat -370px 0;height:30px;line-height:30px;border:0;font-size:14px;font-weight:bold;color:#fff;cursor:pointer; width:101px;}
.set_btn:hover{
	background:url(../images/yx360_btn.gif) no-repeat -477px -26px;
}
.kfbtn{background:url(../images/order-btn.png) no-repeat;border:0px;width:131px;height:36px;color:#FFF;margin:0px; padding:0px;font-weight:bold;font-size:14px; text-align:center; line-height:36px; cursor:pointer;}
.kfbtn:hover{
	background:url(../images/order-btn_hover.png) no-repeat;
}
.kfbtn_disable{
	background:url(../images/order-btn_disable.png) no-repeat;
	border:0px;
	width:131px;
	height:36px;
	color:#888;
	margin:0px; 
	padding:0px;
	font-weight:bold;
	font-size:14px; 
	text-align:center; 
	line-height:36px; 
	cursor:pointer;
}


/*open window start*/

.open_wintitle{
	clear:both;
	height:23px;
	line-height:23px;
	border:1px solid #2e7d00;
	padding:0px 10px;
	background:url(../images/open_titlebg.jpg) repeat-x;
}

.open_wintitle #title{
	float:left;
	color:#FFF;
	font-weight:bold;
}
.open_wintitle #close{
	float:right;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

.open_wintitle #close2{
	float:right;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}

#content{
	clear:both;
	line-height:22px;
	padding:10px 15px;
}
#content dt span{
	color:#f60;
	font-family:Arial, Helvetica, sans-serif;
}

#content dl{
	clear:both;
	padding:0px;
	margin:0px;
}
#content dt{
	clear:both;
	line-height:22px;
}
#content dd{
	clear:both;
	text-align:center;
	padding:10px 0px;
}
#content dd a{
	padding:0px 10px;
}

#content dd span{
	width:100px;
	text-align:right;
	float:left;
	display:block;
}
#content dd font{
	float:left;
	font-weight:bold;
}
#content dd .text{
	float:left;
	padding:2px;
	border:1px solid #CCC;
}
#content dd span a{
	color:#039;
	float:left;
	text-decoration:none;
}

/*open window end*/


.btn_center a:hover,.statement2 a:hover,.statement a:hover,.safety_info a:hover,.update_pass03 a:hover{
	color:#f60;
	text-decoration:underline;
}