@charset "utf-8";
/* CSS Document */
* {
	padding:0;
	margin:0;
}
.session {
	background:#F3F3F3;
	border-radius:3px;
	height:300px;
	position:relative;
	font-size: 16px;
	background:url(../images/bd.png) repeat scroll;
}
.sessionBar {
	width:200px;
	background:#FAEBEB;
	height:300px;

	position:absolute;
	overflow:auto;
}

.sessionBar .pic {border:1px solid #ddd;padding:1px;background-color:#fff;width:50px;height:50px;display:block;overflow:hidden;margin:0 auto;}
.sessionBar .close {}
.sessionBar .sessionOne {}
.sessionOne {

}
.current {
	background-color:#F3F3F3;
	font-weight: bold;
}
.sessionReply {
	background:#FAEBEB;
	border-radius: 10px;
	padding: 10px 15px;
	float:right;
	width: 450px;
	margin: 5px 18px 5px 10px;
	border:1px solid #fff;
	min-height:30px;
	font-size:14px;
	position:relative;
	*position:inherit
}
.sessionQuiz {
	background:#C1DD19;
	border-radius: 10px;
	padding: 10px 15px;
	float:left;
	width: 450px;
	margin:5px 10px 5px 18px;
	border:1px solid #fff;
	line-height: 25px;
	min-height:35px;
	font-size:14px;
	position:relative;
	*position:inherit;
}
.messageSend .wx-btn{ padding:14px 30px;height:24px;line-height:24px; font-size:16px; margin-left:20px;display:block;}
.sessionBox {

	height:300px;
	overflow:auto;
	padding-left:200px;
}
.arrow {
	background:url(../images/arrowL.png) no-repeat scroll;
	width:15px;
	height:22px;
	display:inline-block;
	position:absolute;
	right: -13px;
	top: 11px;
}
.arrowL {
	background:url(../images/png.png) no-repeat scroll;
	width:15px;
	height:22px;
	display:inline-block;
	position:absolute;
	left:-15px;
	top:11px;
}
.sessionOne sup {
	display:none;
}
.msg sup {
	background: none repeat scroll 0 0 #FF0000;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 13px;
	line-height: 13px;
	margin-left: 2px;
	text-align: center;
	width: 13px;
}
.clientPic {
	float:left;
	margin-left: 20px;
	margin-top: 8px;
}
.myselfPic {
	float:right;
	margin-right:20px;
	margin-top:8px
}
.clientPic img, .myselfPic img {
	width:40px;
	height:40px;
}
.clientBox,.myselfBox {
	margin-bottom:10px
}
.message {
	height:428px;
}
.messageText {
	text-align:center;
	margin-top:30px;

}
.messageArea {
	height: 100px;
	width: 600px;
	padding:5px;
	border:1px solid #CCC;
}
.messageBtn {
	margin-top: 20px;
}
.messageUp {
	width:90px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	color:#fff;
	display:inline-block;
	background:#C20000;
	font-weight:bold;
	margin-bottom:20px;
}
.messageNo{
	width:90px;
	height:30px;
	line-height:30px;
	text-decoration:none;
	color:#222;
	display:inline-block;
	background:#E5E5E5;
	margin-right:20px;
	font-weight:bold;
	display:none
	}
.sessionQuiz img{ margin-left: 85px;}
.messageText{ background:url("../images/bd.png") repeat scroll 0 0 rgba(0, 0, 0, 0);  margin:0 auto;}
.sessionTop{  margin:0 auto; background:url("../images/bd.png") repeat scroll 0 0 rgba(0, 0, 0, 0); background:#FAEBEB; border-bottom:1px solid #fff; font-size:14px; text-align:right; border-left:1px solid #fff;}
.sessionYes{ background:url(../images/yes.png) no-repeat left center scroll;padding-left: 15px;
    padding-right: 10px; color:#222}
.sessionNo{ background:url(../images/no.png) no-repeat left center scroll; padding:0 15px;color:#222}
.busy{ position:relative}
.myselfPic.busy span{ background: url("../images/no.png") no-repeat scroll;
    bottom: 0;
    display: inline-block;
    height: 13px;
    position: absolute;
    right: -1px;
    width: 12px;}
.myselfPic span{ display:none;}
.sessionPeople,.sessionState{ float:right}
.sessionPeople{ position:relative;}
.sessionPeople img{ width:40px; height:40px;padding: 5px 10px;}
.sessionState{ margin-top:20px}
.onLine span{ display:inline-block; width:12px; height:12px; background:url(../images/yes.png) no-repeat scroll; position:absolute;bottom: 7px; right:12px; }
.hurry span{ display:inline-block; width:12px; height:12px; background:url(../images/no.png) no-repeat scroll; position:absolute;bottom: 7px; right:12px;}
/*对话框代码*/
.wx-msg {
}
.wx-msg .wx-msg-list {
	border-bottom:1px solid #DCDCDC;
	overflow:hidden;
	_zoom:1;
	position:relative;
}
.wx-msg .wx-msg-list.onHover {
	background-color:#f6f6f6;
}
.wx-msg .wx-msg-list .wx-msg-operation {
	position:absolute;
	right:10px;
	top:10px;
	width:120px;
}
.wx-msg .wx-msg-list .wx-msg-info {
	padding-right:130px;
}
.wx-msg .wx-msg-list .wx-msg-info .wx-msg-time {
	width:120px;
	float:right;
	font-size:14px;
	color:#666;
	padding-top:10px;
}
.wx-msg .wx-msg-list .wx-msg-info .wx-msg-status {
	width:80px;
	float:right;
	font-size:14px;
	color:#A67C52;
	padding-top:10px;
}
.wx-msg .wx-msg-list .wx-msg-info .wx-msg-user {
	position:relative;
	margin-right:200px;
	padding:10px;
}
.wx-msg-user .wx-msg-user-pic, .wx-msg-user .wx-msg-user-info {
	float:left;
}
.wx-msg-user .wx-msg-user-info {
	padding-left:10px;
}
.wx-msg-reply-box {
	border:1px solid #DCDCDC;
}
.wx-msg-reply-box .wx-msg-reply-area {
	padding:10px;
}
.wx-msg-reply-box .wx-msg-reply-area .txtArea {
	border: 1px solid #BBBBBB;
    font-size: 14px;
    min-height: 60px;
    width: 800px;
    float:left;
}
.wx-msg-reply-box .wordTotal {
	padding:0 10px;
	background-color:#F5F6F6;
	height:30px;
	text-align:right;
	font-size:14px;
	line-height:30px;
	border-top:1px solid #DCDCDC;
}
.wx-msg-reply-btn {
	padding:10px;
	text-align:left
}
.wx-dialog-remark-box {
	background-color:#fff;
	padding:20px;
}
.txt-wxRemark {
	width:200px;
}
.wx-dialog-remark-item {
	padding:10px 0;
	height:40px;
}
.wx-dialog-remark-btn {
	padding:10px 0;
	height:30px;
}
.wx-talk {
	background-color:#E9E9E9;
	padding:0 10px;
	height:30px;
	line-height:30px;
	border:1px solid #D1D1D1;
}
.wx-talk-box {
	margin-top:-1px;
}
.wx-mini-tab-wrap {
	border:1px solid #D1D1D1;
}
.wx-mini-tab {
}
.wx-mini-tab ul {
	height:24px;
	line-height:24px;
	overflow:hidden;
	background-color:#F5F6F6;
	border-bottom:1px solid #D4D5D5;
}
.wx-mini-tab ul li {
	float:left;
	background-color:#F5F6F6;
}
.wx-mini-tab ul li a {
	color:#000;
	padding: 8px 20px;
}
.wx-mini-tab ul .cur {
	background-color:#D4D5D5;
	font-weight:bold;
}
.wx-mini-tab ul .cur a {
}
.wx-mini-tab-wrap .wx-msg-reply-box {
	border:none;
	min-width:1000px;
}
.wx-mini-tab-wrap .wx-mini-tab-msg .wx-msg-reply-box .wordTotal {
	border-bottom:1px solid #d1d1d1;
}
.wx-mini-tab-msg-title {
	border-bottom:1px solid #ddd;
	line-height:30px;
	height:30px;
	padding:5px 10px;
}
.wx-msg-reply-wrap {
	padding-left:100px;
	padding-top:10px;
	background-color:#fff;
}
.wx-msg .wx-msg-list.onHover .wx-msg-reply {
	background-color:#fff;
}
.wx-msg-reply {
	border-top:1px solid #ddd;
}
.wx-mini-tab-con {
	background:#fff
}
.sessionTime{ float:right; margin-top:15px;}
.sessionTime span{ display:inline-block; min-width:100px; height:23px; line-height:23px; color:#fff; background:#ccc; font-size:12px; text-align:center;border-radius: 5px; }
.sessionTimeL{float:left; margin-top:15px;}
.sessionTimeL span{display:inline-block;  height:23px; line-height:23px; color:#fff; background:#ccc; font-size:12px; text-align:center;border-radius: 5px; padding: 0 5px;}
.message{ padding-top:10px;}
.messageDoc{ width:97%; margin:0 auto; margin-top:30px;}
.wx-btn:hover{ color:#fff}
.wx-msg-reply-area,.messageSend{ float:left}
.messageSend{ margin-top:30px;}


.matterBoxs .matterBoxTitle{ padding:10px;text-align: left;font-size: 14px;font-weight: 500;}
.matterBoxs{ min-height:60px; _height:60px;}
.matterBoxImg{ text-align: left; margin-left:10px;}
.titleSpeak{ display:inline-block; width:30px; height:30px; background:url(../images/speak.png) no-repeat scroll;vertical-align: middle;
margin-right: 10px;}
.titleVideo{ display:inline-block; width:30px; height:30px; background:url(../images/play.png) no-repeat scroll;vertical-align: middle;
margin-right: 10px;}